// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.services-card {
  background-size: cover;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-bottom: 2px solid $primary;

  &:hover {
    transform: rotate(30deg);
  }
}

.services-card-item {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  padding: 15px;
  background-color: rgba($black, 0.95);
  background-blend-mode: multiply;
}

.services-card-item h4 {
  margin: 0;
}

.services-card-item i {
  color: $primary;
  margin-left: auto;
  align-self: center;
}

#slider .itc-slider-wrapper {
  background-color: transparent;
}

#slider .itc-slider-item {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  height: 200px;
  user-select: none;
  will-change: transform;
}

#slider .itc-slider-items {
  --gap: 1.3rem;
  gap: var(--gap);
}

#slider .itc-slider-item {
  flex: 0 0 calc(33.3333333333% - var(--gap) * 2 / 3);
}

label {
  color: lighten($secondary, 25%);
}

.copy {
  color: lighten($secondary, 25%);
}

.video:hover {
  opacity: 0.75;
  transition: 0.5s;
}

// ======== tooltip
.info-text .tooltip {
  background: rgba($black, 0.95);
  background-blend-mode: multiply;
  bottom: 38px;
  color: white;
  display: block;
  left: 0px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 15px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.info-text .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}

/* CSS Triangles - see Trevor's post */
// .info-text .tooltip:after {
//   border-left: solid transparent 10px;
//   border-right: solid transparent 10px;
//   border-top: solid $primary 10px;
//   bottom: -10px;
//   content: " ";
//   height: 0;
//   left: 80%;
//   margin-left: -13px;
//   position: absolute;
//   width: 0;
// }

.info-text:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
// ======================================================
