<h2 class="mb-5 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.36s">
  Наши <span class="text-primary">клиенты</span>
</h2>

<div
  class="row mb-5 wow fadeInUp"
  data-wow-duration="1s"
  data-wow-delay="0.36s"
>
  <div class="col d-flex align-items-center justify-content-center">
    <img src="{{root}}/assets/img/logos/logo_1.svg" />
  </div>
  <div class="col d-flex align-items-center justify-content-center">
    <img src="{{root}}/assets/img/logos/logo_2.svg" />
  </div>
  <div class="col d-flex align-items-center justify-content-center">
    <img src="{{root}}/assets/img/logos/logo_3.svg" />
  </div>
  <div class="col d-flex align-items-center justify-content-center">
    <img src="{{root}}/assets/img/logos/logo_4.svg" />
  </div>
  <div class="col d-flex align-items-center justify-content-center">
    <img src="{{root}}/assets/img/logos/logo_5.svg" />
  </div>
  <div class="col d-flex align-items-center justify-content-center">
    <img src="{{root}}/assets/img/logos/logo_6.svg" />
  </div>
</div>

<div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.36s">
  <div class="col d-flex align-items-center justify-content-center">
    <img src="{{root}}/assets/img/logos/logo_11.svg" />
  </div>
  <div class="col d-flex align-items-center justify-content-center">
    <img src="{{root}}/assets/img/logos/logo_8.svg" />
  </div>
  <div class="col d-flex align-items-center justify-content-center">
    <img src="{{root}}/assets/img/logos/logo_9.svg" />
  </div>
  <div class="col d-flex align-items-center justify-content-center">
    <img src="{{root}}/assets/img/logos/logo_10.svg" />
  </div>
  <div class="col d-flex align-items-center justify-content-center">
    <img src="{{root}}/assets/img/logos/logo_7.svg" />
  </div>
</div>
