<h2 class="mb-5 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.36s">
  Контакты
</h2>

<div class="row">
  <div class="col">
    <div class="row">
      <div class="col-12">
        <div
          class="row mb-4 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0.36s"
        >
          <div class="col-1 d-flex justify-content-center">
            <i class="fas fa-map-marker-alt fa-2x text-primary m-1"></i>
          </div>
          <div class="col-11">
            <p>
              Адрес: г.Ашхабад, улица Г.Кулиева 24 (Объездная),
              здание&nbsp;«Арзув», второй этаж
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 mb-4">
        <div
          class="row wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0.36s"
        >
          <div class="col-1 d-flex justify-content-center">
            <i
              class="fa fa-phone fa-flip-horizontal fa-lg text-primary m-2"
            ></i>
          </div>
          <div class="col-5">
            <p class="font-weight-bolder">
              <a
                href="tel:+99312754411"
                class="btn btn-link font-weight-bolder p-0"
                style="font-size: 1.35rem"
              >
                +993 12 75-44-11</a
              >
              <a
                href="tel:+99363026622"
                class="btn btn-link font-weight-bolder p-0"
                style="font-size: 1.35rem"
                >+993 63 02-66-22</a
              >
            </p>
          </div>

          <div class="col-6">
            <div class="row mb-1">
              <div class="col-2 text-right">
                <i class="fa fa-envelope fa-lg text-primary m-2"></i>
              </div>
              <div class="col-10">
                <p>
                  <a href="mailto:dy.print@list.ru" class="btn btn-link p-0"
                    >dy.print@list.ru</a
                  >
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-2 text-right">
                <i class="fab fa-instagram fa-lg text-primary m-2"></i>
              </div>
              <div class="col-10">
                <p>
                  <a
                    href="https://www.instagram.com/dyprint.chaphana"
                    class="btn btn-link p-0"
                    >@dy.print.chaphana</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div
          class="wow fadeIn"
          data-wow-duration="1s"
          data-wow-delay="0.36s"
          style="position: relative; overflow: hidden"
        >
          <a
            href="https://yandex.ru/maps/org/d_wranly_relge/59292264741/?utm_medium=mapframe&utm_source=maps"
            style="
              color: #454545;
              font-size: 12px;
              position: absolute;
              top: 0px;
            "
            >Döwranly Ýörelge</a
          ><a
            href="https://yandex.ru/maps/10324/ashgabat/category/printing_house/184107134/?utm_medium=mapframe&utm_source=maps"
            style="
              color: #454545;
              font-size: 12px;
              position: absolute;
              top: 14px;
            "
            >Типография в Ашхабаде</a
          ><iframe
            src="https://yandex.ru/map-widget/v1/?ll=58.427389%2C37.955909&mode=search&oid=59292264741&ol=biz&z=17.4"
            width="100%"
            height="335"
            frameborder="1"
            allowfullscreen="true"
            style="position: relative"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <h3
      class="text-center text-md-left wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.36s"
    >
      Напишите нам
    </h3>

    <form
      action="{{root}}actions/send.php"
      method="POST"
      class="needs-validation"
      novalidate
    >
      <div class="form-row">
        <div class="col-12 mb-3">
          <label
            class="wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.36s"
            for="name"
            ><span>Имя</span></label
          >
          <input
            type="text"
            class="form-control wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.36s"
            id="name"
            name="name"
            required
          />
          <div class="invalid-feedback">Пожалуйста введите Ваше Имя</div>
        </div>
        <div class="col-12 mb-3">
          <label
            class="wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.36s"
            for="email"
            >Email</label
          >
          <input
            type="email"
            class="form-control wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.36s"
            id="email"
            name="email"
            required
          />
          <p
            class="small wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.36s"
          >
            Мы никогда не передадим вашу электронную почту кому-либо еще.
          </p>

          <div class="invalid-feedback">Пожалуйста введите Ваш Email</div>
        </div>
        <input type="text" id="website" name="website" style="display: none" />
        <div class="col-12 mb-3">
          <label
            class="wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.36s"
            for="message"
            ><span class="ru">Сообщение</span></label
          >
          <textarea
            class="form-control wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.36s"
            id="message"
            name="message"
            rows="7"
            required
          ></textarea>
          <div class="invalid-feedback">Пожалуйста введите Ваше сообщение</div>
        </div>
      </div>

      <button
        class="btn btn-primary wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.36s"
        type="submit"
      >
        <span>Отправить</span>
      </button>
    </form>
  </div>
</div>
