<div
  class="itc-slider wow fadeIn"
  data-wow-duration="1s"
  data-wow-delay="0.3s"
  data-slider="itc-slider"
  data-interval="5000"
  data-loop="true"
  data-autoplay="true"
  data-swipe="false"
>
  <div class="itc-slider-wrapper">
    <div class="itc-slider-items">
      <div
        class="itc-slider-item"
        style="background-image: url('{{root}}assets/img/cover.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;"
      >
        <div
          class="col-6 p-5 m-0"
          style="
            background-color: rgba(0, 0, 0, 0.85);
            background-blend-mode: multiply;
          "
        >
          <h1
            class="mb-4 wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.36s"
          >
            Типография <br /><span class="text-primary">полного цикла</span>
          </h1>
          <p
            class="mb-5 wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.36s"
          >
            Предлагаем индивидуальный подход
            и&nbsp;высокое&nbsp;качество&nbsp;услуг в&nbsp;сфере офсетной печати
            и&nbsp;флексопечати, а&nbsp;также послепечатной обработки
          </p>
          <a
            href="#services"
            class="btn btn-primary wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.36s"
          >
            Подробнее
          </a>
        </div>
      </div>

      <div
        class="itc-slider-item"
        style="background-image: url('{{root}}assets/img/values.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;"
      >
        <div
          class="col-6 p-5 m-0"
          style="
            background-color: rgba(0, 0, 0, 0.85);
            background-blend-mode: multiply;
          "
        >
          <h1 class="mb-4 wow fadeInUp">
            Послепечатная <br /><span class="text-primary">обработка</span>
          </h1>
          <p class="mb-5 wow fadeInUp">
            Имеем широкий выбор послепечатной обработки, включая&nbsp;тиснение,
            конгрев, просечку, ламинацию, а&nbsp;также изготовливаем клише
          </p>
          <a
            href="#services"
            class="btn btn-primary wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.36s"
          >
            Подробнее
          </a>
        </div>
      </div>

      <div
        class="itc-slider-item"
        style="background-image: url('{{root}}assets/img/Mnogorazovye-chashki-dlya-kofe.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;"
      >
        <div
          class="col-6 p-5 m-0"
          style="
            background-color: rgba(0, 0, 0, 0.85);
            background-blend-mode: multiply;
          "
        >
          <h1 class="mb-4 wow fadeInUp">
            Бумажные <br /><span class="text-primary">стаканчики</span>
          </h1>
          <p class="mb-5 wow fadeInUp">
            Производим бумажные стаканы, брендирование
            с&nbsp;вашим&nbsp;логотипом, серийные с&nbsp;рисунком для&nbsp;кофе
            или&nbsp;чая, одноцветные
          </p>
          <a
            href="#services"
            class="btn btn-primary wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.36s"
          >
            Подробнее
          </a>
        </div>
      </div>

      <div
        class="itc-slider-item"
        style="background-image: url('{{root}}assets/img/TAYHAN_PLITKA.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center bottom;"
      >
        <div
          class="col-6 p-5 m-0"
          style="
            background-color: rgba(0, 0, 0, 0.85);
            background-blend-mode: multiply;
          "
        >
          <h1 class="mb-4 wow fadeInUp">
            Услуги в сфере <br /><span class="text-primary">дизайна</span>
          </h1>
          <p class="mb-5 wow fadeInUp">
            Профессиональные дизайнеры с&nbsp;большим опытом помогут
            в&nbsp;решении ваших задач. Умеем слушать и&nbsp;слышать, учтём
            все&nbsp;ваши пожелания и&nbsp;опасения
          </p>
          <a
            href="#services"
            class="btn btn-primary wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.36s"
          >
            Подробнее
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Кнопки для перехода к предыдущему и следующему слайду -->
  <button class="itc-slider-btn itc-slider-btn-prev"></button>
  <button class="itc-slider-btn itc-slider-btn-next"></button>
</div>
