<div class="container wow fadeIn" data-wow-duration="1s" data-wow-delay="0.36s">
  <ul class="navbar-nav list-group-horizontal mb-3">
    <li class="nav-item">
      <a href="/" class="btn btn-link pl-0" href="#">Главная</a>
    </li>
    <li class="nav-item">
      <a href="#about" class="btn btn-link" href="#">О нас</a>
    </li>
    <li class="nav-item">
      <a href="#services" class="btn btn-link" href="#">Наши услуги</a>
    </li>
    <li class="nav-item">
      <a href="#works" class="btn btn-link" href="#">Примеры работ</a>
    </li>
    <li class="nav-item">
      <a href="#clients" class="btn btn-link" href="#">Наши клиенты</a>
    </li>
    <li class="nav-item">
      <a href="#contacts" class="btn btn-link" href="#">Контакты</a>
    </li>
  </ul>
  <p class="small copy">© 2023 ХО «Довранлы Йорелге». Все права защищены.</p>
</div>
<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/main.js"></script>
<!-- endbuild -->
