<div class="navbar bg-black py-1 wow fadeIn">
  <div class="container d-flex justify-content-end">
    <div class="mr-3">
      <i class="fa fa-phone fa-flip-horizontal fa-lg text-primary mr-2"></i>
      <a
        href="tel:+99312754411"
        class="btn btn-link font-weight-bolder px-1"
        style="font-size: 1.2rem"
      >
        +993 12 75-44-11</a
      >
      <a
        href="tel:+99363026622"
        class="btn btn-link font-weight-bolder pl-1 mr-2"
        style="font-size: 1.2rem"
        >+993 63 02-66-22</a
      >
      <a href="mailto:dy.print@list.ru" class="btn btn-link px-1"
        ><i class="fa fa-envelope fa-lg text-primary mr-2"></i
      ></a>
      <a
        href="https://www.instagram.com/dyprint.chaphana"
        class="btn btn-link px-1"
      >
        <i class="fab fa-instagram fa-lg text-primary"></i>
      </a>
    </div>
    <div>
      <a class="btn btn-link btn-sm">TM</a>
      <a class="btn btn-link btn-sm pr-0">RU</a>
    </div>
  </div>
</div>

<nav class="navbar bg-white py-2 wow fadeIn">
  <div class="container">
    <a class="navbar-brand mr-3" href="/">
      <img src="{{root}}/assets/img/dy_logo.svg" />
    </a>
    <ul class="navbar-nav list-group-horizontal ml-auto align-items-center">
      <li class="nav-item pr-3">
        <a href="#about" class="nav-link" style="font-weight: 600" href="#"
          >О нас</a
        >
      </li>
      <li class="nav-item px-3">
        <a href="#services" class="nav-link" style="font-weight: 600" href="#"
          >Наши услуги</a
        >
      </li>
      <li class="nav-item px-3">
        <a href="#works" class="nav-link" style="font-weight: 600" href="#"
          >Примеры работ</a
        >
      </li>
      <li class="nav-item px-3">
        <a href="#clients" class="nav-link" style="font-weight: 600" href="#"
          >Наши клиенты</a
        >
      </li>
      <li class="nav-item pl-3">
        <a href="#contacts" class="nav-link" style="font-weight: 600" href="#"
          >Контакты</a
        >
      </li>
    </ul>
  </div>
</nav>
