<h2 class="mb-5 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.36s">
  Наши <span class="text-primary">услуги</span>
</h2>
<div class="row mb-4">
  <div class="col-4">
    <div
      class="services-card wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.36s"
      style="background-image: url('{{root}}assets/img/labels.jpg')"
    >
      <div class="services-card-item">
        <h4>Печать этикеток</h4>
        <i class="fa fa-info-circle fa-lg info-text">
          <div class="tooltip">
            <span
              ><strong>Подробное описание</strong><br />
              Можно подробнее описать услугу или дать перечень типов этикеток,
              которые можете печатать и др.</span
            >
          </div>
        </i>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="col-4 mb-4">
    <div
      class="services-card wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.42s"
      style="background-image: url('{{root}}assets/img/packages.jpg')"
    >
      <div class="services-card-item">
        <h4>Печать упаковок и&nbsp;коробок</h4>
        <i class="fa fa-info-circle fa-lg info-text"
          ><div class="tooltip">
            <span
              ><strong>Подробное описание</strong><br />
              Можно подробнее описать услугу или дать перечень типов этикеток,
              которые можете печатать и др.</span
            >
          </div>
        </i>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="col-4 mb-4">
    <div
      class="services-card wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.48s"
      style="background-image: url('{{root}}assets/img/buklet.jpg')"
    >
      <div class="services-card-item">
        <h4>Печать рекламной продукции</h4>
        <i class="fa fa-info-circle fa-lg info-text"
          ><div class="tooltip">
            <span
              ><strong>Подробное описание</strong><br />
              Можно подробнее описать услугу или дать перечень типов этикеток,
              которые можете печатать и др.</span
            >
          </div>
        </i>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="col-4 mb-4">
    <div
      class="services-card wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.36s"
      style="background-image: url('{{root}}assets/img/emboss.jpg')"
    >
      <div class="services-card-item">
        <h4>Тиснение, конгрев, просечка</h4>
        <i class="fa fa-info-circle fa-lg info-text"
          ><div class="tooltip">
            <span
              ><strong>Подробное описание</strong><br />
              Можно подробнее описать услугу или дать перечень типов этикеток,
              которые можете печатать и др.</span
            >
          </div>
        </i>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="col-4 mb-4">
    <div
      class="services-card wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.42s"
      style="background-image: url('{{root}}assets/img/laminate.jpg')"
    >
      <div class="services-card-item">
        <h4>Холодная ламинация</h4>
        <i class="fa fa-info-circle fa-lg info-text"
          ><div class="tooltip">
            <span
              ><strong>Подробное описание</strong><br />
              Можно подробнее описать услугу или дать перечень типов этикеток,
              которые можете печатать и др.</span
            >
          </div>
        </i>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="col-4 mb-4">
    <div
      class="services-card wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.48s"
      style="background-image: url('{{root}}assets/img/falc.jpg')"
    >
      <div class="services-card-item">
        <h4>Фальцовка и&nbsp;биговка</h4>
        <i class="fa fa-info-circle fa-lg info-text"
          ><div class="tooltip">
            <span
              ><strong>Подробное описание</strong><br />
              Можно подробнее описать услугу или дать перечень типов этикеток,
              которые можете печатать и др.</span
            >
          </div>
        </i>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="col-4 mb-4">
    <div
      class="services-card wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.36s"
      style="background-image: url('{{root}}assets/img/rolls.jpg')"
    >
      <div class="services-card-item">
        <h4>Печать рулонной продукции</h4>
        <i class="fa fa-info-circle fa-lg info-text"
          ><div class="tooltip">
            <span
              ><strong>Подробное описание</strong><br />
              Можно подробнее описать услугу или дать перечень типов этикеток,
              которые можете печатать и др.</span
            >
          </div>
        </i>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="col-4 mb-4">
    <div
      class="services-card wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.42s"
      style="background-image: url('{{root}}assets/img/cup.jpg')"
    >
      <div class="services-card-item">
        <h4>Бумажные стаканчики</h4>
        <i class="fa fa-info-circle fa-lg info-text"
          ><div class="tooltip">
            <span
              ><strong>Подробное описание</strong><br />
              Можно подробнее описать услугу или дать перечень типов этикеток,
              которые можете печатать и др.</span
            >
          </div>
        </i>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="col-4 mb-4">
    <div
      class="services-card wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.48s"
      style="background-image: url('{{root}}assets/img/klishe.jpg')"
    >
      <div class="services-card-item">
        <h4>Изготовление клише</h4>
        <i class="fa fa-info-circle fa-lg info-text"
          ><div class="tooltip">
            <span
              ><strong>Подробное описание</strong><br />
              Можно подробнее описать услугу или дать перечень типов этикеток,
              которые можете печатать и др.</span
            >
          </div>
        </i>
      </div>
    </div>
  </div>
  <!--  -->
</div>

<h3 class="mb-5 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.36s">
  Услуги дизайна и верстки
</h3>
<div class="row">
  <div class="col">
    <img
      src="{{root}}assets/img/design-icon-1.svg"
      class="mb-4 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.36s"
    />
    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.36s">
      Разработка макетов любой сложности,&nbsp;логотипов
      и&nbsp;фирменных&nbsp;стилей
    </p>
  </div>

  <div class="col">
    <img
      src="{{root}}assets/img/design-icon-2.svg"
      class="mb-4 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.42s"
    />
    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.42s">
      Профессиональная цифровая фотосъемка, цветокоррекция, сканирование
    </p>
  </div>

  <div class="col">
    <img
      src="{{root}}assets/img/design-icon-3.svg"
      class="mb-4 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.48s"
    />
    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.48s">
      Допечатная подготовка, монтаж спусков&nbsp;полос, CTP
    </p>
  </div>
</div>
