<div class="row mb-5">
  <div class="col">
    <img
      src="{{root}}assets/img/stars.svg"
      class="mb-4 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.36s"
    />
    <h3 class="mb-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.42s">
      Наша задача
    </h3>
    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.48s">
      Создавать качественную полиграфическую продукцию, работающую на интересы
      клиента.
    </p>
  </div>
  <div
    class="col wow fadeIn"
    data-wow-duration="1s"
    data-wow-delay="0.48s"
    style="background-image: url('{{root}}assets/img/values.jpg'); background-size: cover;"
  ></div>
</div>

<h3
  class="mb-5 pt-3 wow fadeInUp"
  data-wow-duration="1s"
  data-wow-delay="0.36s"
>
  Принципы и ценности:
</h3>
<div class="row">
  <div class="col">
    <img
      src="{{root}}assets/img/values-icon-1.svg"
      class="mb-4 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.36s"
    />
    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.36s">
      В своей деятельности мы&nbsp;стараемся подтверждать надежность нашей
      типографии перед заказчиками, партнерами и&nbsp;нашими сотрудниками
    </p>
  </div>

  <div class="col">
    <img
      src="{{root}}assets/img/values-icon-3.svg"
      class="mb-4 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.42s"
    />
    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.42s">
      Постоянно совершенствовать существующие полиграфические технологии
      и&nbsp;развивать принципиально новые технологии
    </p>
  </div>

  <div class="col">
    <img
      src="{{root}}assets/img/values-icon-2.svg"
      class="mb-4 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.48s"
    />
    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.48s">
      Производить полиграфическую продукцию только высокого качества
    </p>
  </div>
</div>
