<div class="row py-5">
  <div class="col-12">
    <h2 class="mb-5 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
      Что <span class="text-primary">мы делаем?</span>
    </h2>
  </div>

  <div class="col-6 mb-5 pr-5">
    <i
      class="fa fa-check fa-2x text-primary mb-3 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.9s"
    ></i>
    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
      Производим этикетки, упаковки, рекламную продукцию, бумажные стаканчики. В
      нашей типографии, мы готовы оказать профессиональные услуги в создании
      дизайна, допечатной, печатной и после печатной работ.
    </p>
  </div>
  <div class="col-6 mb-5 pr-5">
    <i
      class="fa fa-check fa-2x text-primary mb-3 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="1s"
    ></i>
    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
      Наши производственные цеха типографии оснащены современным
      высокопроизводительным оборудованием. На&nbsp;производстве используются
      офсетные и цифровые печатные машины, станки для тиснения и вырубки,
      ламинаторы.
    </p>
  </div>
  <div class="col-6 mb-5 pr-5">
    <i
      class="fa fa-check fa-2x text-primary mb-3 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.36s"
    ></i>
    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.36s">
      Выполняем весь комплекс полиграфических процессов, необходимых для того,
      что бы идея клиента обрела воплощение в виде красочной полиграфической
      продукции. Являясь непосредственным производителем, мы&nbsp;предлагаем
      качественное и быстрое выполнение работ.
    </p>
  </div>
  <div class="col-6 mb-5 pr-5">
    <i
      class="fa fa-check fa-2x text-primary mb-3 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.36s"
    ></i>
    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.36s">
      Мы готовы предоставить услуги по офсетной и&nbsp;флексопечати, тиснению,
      тиражированию, ламинации.
    </p>
  </div>
</div>
