<h2 class="mb-5 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.36s">
  Примеры <span class="text-primary">работ</span>
</h2>

<div
  id="slider"
  class="itc-slider wow fadeInUp"
  data-wow-duration="1s"
  data-wow-delay="0.36s"
  data-slider="itc-slider"
  data-loop="true"
  data-autoplay="true"
  data-interval="3000"
>
  <div
    class="itc-slider-wrapper wow fadeInUp"
    data-wow-duration="1s"
    data-wow-delay="0.36s"
  >
    <div class="itc-slider-items">
      <div
        class="itc-slider-item"
        style="background: url('{{root}}assets/img/works_1.jpg') center left/cover no-repeat;"
      ></div>
      <div
        class="itc-slider-item"
        style="background: url('{{root}}assets/img/works_2.jpg') center left/cover no-repeat;"
      ></div>
      <div
        class="itc-slider-item"
        style="background: url('{{root}}assets/img/works_3.jpg') center left/cover no-repeat;"
      ></div>
      <div
        class="itc-slider-item"
        style="background: url('{{root}}assets/img/works_4.jpg') center left/cover no-repeat;"
      ></div>
      <div
        class="itc-slider-item"
        style="background: url('{{root}}assets/img/works_5.jpg') center left/cover no-repeat;"
      ></div>
      <div
        class="itc-slider-item"
        style="background: url('{{root}}assets/img/works_6.jpg') center left/cover no-repeat;"
      ></div>
      <div
        class="itc-slider-item"
        style="background: url('{{root}}assets/img/works_7.jpg') center left/cover no-repeat;"
      ></div>
      <div
        class="itc-slider-item"
        style="background: url('{{root}}assets/img/works_8.jpg') center left/cover no-repeat;"
      ></div>
      <div
        class="itc-slider-item"
        style="background: url('{{root}}assets/img/works_9.jpg') center left/cover no-repeat;"
      ></div>
    </div>
  </div>
  <button class="itc-slider-btn itc-slider-btn-prev"></button>
  <button class="itc-slider-btn itc-slider-btn-next"></button>
</div>
