// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  border-bottom: 3px solid $primary;
}

.navbar {
  padding: 0.5rem 2rem;
}

.nav-link {
  font-weight: 600;
}
